<section class="taxon">
    <p>
      Mole Valley is home to a wide range of bird species, many of which favour
      particular habitats. Some of these are highlighted below:
    </p>
  </section>

  <section class="taxon clearfix">
    <h2>River Mole</h2>
    <p>
      Kingfishers can be seen along the length of the river – a flash of blue and
      orange flying swiftly past. Grey wagtails are also common often seen around
      the Leatherhead Town Bridge and in Winter goosanders can be seen swimming
      along the river.
    </p>
    <%= image_tag("birds/kingfisher.png", :alt => "Kingfisher", :title => "Kingfisher. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
    <%= image_tag("birds/goosander.png", :alt => "Goosander", :title => "Goosander. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
    <%= image_tag("birds/greyWagtail.png", :alt => "Grey Wagtail", :title => "Grey Wagtail. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
  </section>

  <section class="taxon clearfix">
    <h2>Ponds and streams</h2>
    <p>
      Many common birds can be seen on our ponds and streams including mallards,
      coots, moorhens, Canada geese, greylag geese and grey wagtails.
    </p>
    <%= image_tag("birds/mallard.png", :alt => "Mallard", :title => "Mallard. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
    <%= image_tag("birds/coot.png", :alt => "Coot", :title => "Coot. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
    <%= image_tag("birds/greylagGoose.png", :alt => "Greylag Goose", :title => "Greylag Goose. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
  </section>

  <section class="taxon clearfix">
    <h2>Farmland</h2>
    <p>
      There is a range of birds found in our farmland habitat including game birds
      such as pheasants and red-legged partridge. In the hedgerows you can see
      yellowhammers and finches and feeding in the fields there are often skylarks
      and thrushes; in the Winter the song and mistle thrushes are joined by
      redwings and fieldfares from Scandinavia.
    </p>
    <%= image_tag("birds/redLeggedPartridge.png", :alt => "Red-legged Partridge", :title => "Red-legged Partridge. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
    <%= image_tag("birds/yellowhammer.png", :alt => "Yellowhammer", :title => "Yellowhammer. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
    <%= image_tag("birds/songThrush.png", :alt => "Song Thrush", :title => "Song Thrush. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
  </section>

  <section class="taxon clearfix">
    <h2>Woodland</h2>
    <p>
      Our woodland areas host a wide variety of birds including 5 species of tit
      (blue, great, coal, long-tailed and marsh), great spotted woodpeckers,
      redpolls and siskins.
    </p>
    <%= image_tag("birds/redpoll.png", :alt => "Redpoll", :title => "Redpoll. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
    <%= image_tag("birds/siskin.png", :alt => "Siskin", :title => "Siskin. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
    <%= image_tag("birds/greatSpottedWoodpecker.png", :alt => "Great Spotted Woodpecker", :title => "Great Spotted Woodpecker. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
  </section>

  <section class="taxon clearfix">
    <h2>Urban parks, green spaces and gardens</h2>
    <p>
      Another rich environment for several species of birds which include:
      green woodpeckers, robins, blackbirds, tits, pied wagtails and many more.
    </p>
    <%= image_tag("birds/robin.png", :alt => "Robin", :title => "Robin. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
    <%= image_tag("birds/greatTit.png", :alt => "Great Tit", :title => "Great Tit. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
    <%= image_tag("birds/marshTit.png", :alt => "Marsh Tit", :title => "Marsh Tit. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
  </section>

  <section class="taxon">
    <h2>Commons and Heaths</h2>
    <p>
      Our commons and heathlands are home all year round to birds such as finches
      and tits. Rarer summer migrants include woodlarks (Headley Heath),
      nightingales and warblers (Bookham Common). Arguably the most important
      bird site in Mole Valley is Bookham Common for nightingales.
    </p>
    <%= image_tag("birds/bullfinch.png", :alt => "Bullfinch", :title => "Bullfinch. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
    <%= image_tag("birds/nightingale.png", :alt => "Nightingale", :title => "Nightingale. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
    <%= image_tag("birds/woodlark.png", :alt => "Woodlark", :title => "Woodlark. Copyright: Heather Gerrard", :class => "img-rounded left_image") %>
  </section>
