
<h1>Dragonflies and Damselflies</h1>
<p>
  There are over 40 species of dragonflies and damselflies breeding in the British Isles and Surrey is one of the best counties to see them.  In Mole Valley over 20 species have been recorded in recent years.  Dragonflies are colourful and conspicuous insects, perhaps second only to butterflies.  They are cold blooded and thus solar powered and can only fly on warm sunny days.  Dragonflies are powerful and aerobatic fliers and settle with their wings outstretched.  Damselflies fly more weakly, often near vegetation at the water’s edge and most settle with their wings together over their backs.  Dragonflies and damselflies spend most of their lives as larvae out of our sight in water, emerging as adults for a few weeks to fly and breed.  Different species emerge at different times of the year and require different aquatic habitats including still water (lakes, ponds, clay and gravel pits), running water (rivers and streams such as the Mole and Tillingbourne) heaths and bogs (around Leith Hill and Headley Heath).  They are carnivorous both as larvae and adults, top predators in their ecosystems and thus good indicators of its health.
</p>
<section class="clearfix">
<h2>Brilliant Emerald</h2>
<%= image_tag("dragonflies/brilliantEmerald.png", :alt => "Brilliant Emerald", :title => "Brilliant Emerald Dragonfly. Copyright: Mike Thurner", :class => "img-rounded left_image") %>
<p>
  This is a medium sized dragonfly with a slim, waisted abdomen which shines metallic green in sunshine. It has conspicuous bright green eyes  Although nationally rare and very local in south east England, it can be found patrolling some medium sized ponds / lakes below Leith Hill.
</p>
</section>
<section class="clearfix">
<h2>Golden-ringed Dragonfly</h2>
<%= image_tag("dragonflies/goldenRinged.png", :alt => "Golden-ringed Dragonfly", :title => "Golden-ringed Dragonfly. Copyright: Mike Thurner", :class => "img-rounded left_image") %>
<p>
  This is the largest British dragonfly with a slender abdomen striped black and yellow.  It can be found flying rather directly along heathland streams but it also wanders far from water.  Although common in Scotland and northern England it has a limited range in south east England but can be found in heathy areas around Leith Hill.
</p>
</section>
<section class="clearfix">
<h2>Broad-bodied Chaser</h2>
<%= image_tag("dragonflies/broadBodied.png", :alt => "Broad-bodied Chaser", :title => "Broad-bodied Chaser. Copyright: Mike Thurner", :class => "img-rounded left_image") %>
<p>
  This is a medium sized dragonfly with a broad squat abdomen.  The male is powder blue and the female brown.  When immature it is bright yellow.  It has an intricate brown pattern on the wing bases.  It is common and widespread with a habit of returning to a favoured look-out perch by small ponds such as those at the Newdigate Old Brickworks.
</p>
</section>
<section class="clearfix">
<h2>Scarce Chaser</h2>
<%= image_tag("dragonflies/scarce.png", :alt => "Scarce Chaser", :title => "Scarce Chaser. Copyright: Mike Thurner", :class => "img-rounded left_image") %>
<p>
  This is similar to the Broad-bodied Chaser but slimmer, with a black tail.  It has pale grey / blue eyes and frequents slow flowing streams.  This is an uncommon species and very localised, but can be found at a few sites in the south of the District.
</p>
</section>
<section class="clearfix">
<h2>Small Red-eyed Damselfly</h2>
<%= image_tag("dragonflies/smallRedEyed.png", :alt => "Small Red-eyed Dragonfly", :title => "Small Red-eyed Dragonfly. Copyright: Mike Thurner", :class => "img-rounded left_image") %>
<p>
  This small damselfly is a fairly recent invader from the continent, first recorded in Britain in 1999.  Since then  it has spread dramatically and is now locally abundant on shallow sphagnum pools in southern Britain.  It is black with a blue tail and with red eyes, and can be confused with the more common and larger Red-eyed Damselfly.  It can be found at many suitable sites in the District
</p>
</section>
<section class="clearfix">
<h2>Beautiful Demoiselle</h2>
<%= image_tag("dragonflies/demoiselle.png", :alt => "Beautiful Demoiselle", :title => "Beautiful Demoiselle. Copyright: Mike Thurner", :class => "img-rounded left_image") %>
<p>
  This is a large and conspicuous damselfly.  The wings are covered with iridescent scales which diffract the light, depending on the sun direction, so that the colour changes from green to blue to black.  The males chase each other in a psychedelic display over slow-flowing streams such as the Tillingbourne.
</p>