<!-- organisations.html.erb -->

  <h1>Organisations</h1>

  <p>
    A very wide range of organisations have a natural history remit in Mole Valley.
    This page contains a list of all the main ones that we are aware of.
    Links are provided to their respective web sites where available.
    Otherwise we provide contact details.
  </p>

      <section class="entry">
        <h3>
          <%= link_to("Ancient Tree Forum", "http://frontpage.woodland-trust.org.uk/ancient-tree-forum/", :target => "_blank") %>
        </h3>
        <p>
          The Ancient Tree Forum advocates for greater protection and best conservation practice, specialist research and increasing people's enjoyment of ancient trees.
        </p>
      </section>
      <section class="entry">
        <h3><a href="http://www.butterfly-conservation.org/" target="_blank">Butterfly Conservation</a></h3>

        <p>
           Butterfly Conservation is a charity
          dedicated to saving butterflies, moths and their habitats.
          Many active volunteers work through a system of Branches,
          and Mole Valley is in the area covered by Surrey and South
          West London Branch. Members can take part in local field trips,
          meetings, recording, monitoring and practical conservation work. 
        </p>

      </section>
      <section class="entry">
        <h3><a href="http://www.cityoflondon.gov.uk/Corporation/LGNL_Services/Environment_and_planning/Parks_and_open_spaces/Ashtead_Common/" target="_blank">Corporation of London, Ashtead Common</a></h3>

        <p>
           Ashtead Common is owned and managed by the City of London.
          This has secured its future as a valuable wildlife refuge and amenity for the
          community as a whole. As well as being a Site of Special Scientific Interest
          for its rich bird-life, Ashtead Common was also declared a National Nature
          Reserve in 1995. 
        </p>

      </section>
      <section class="entry">
        <h3>
          <%= link_to("Dorking and District Preservation Society", "http://www.ddps.org.uk", :target => "_blank") %>
        </h3>
        <p>
          The Dorking & District Preservation Society is the leading amenity society in southern Mole Valley. It covers Dorking and its surrounding villages, from Mickleham and Headley in the north, east to Buckland, west to Abinger and south to the boundary between Surrey and Sussex
        </p>
      </section>

      <section class="entry">
        <h3>
          <%= link_to("Environment Agency", "http://www.environment-agency.gov.uk", :target => "_blank") %>
        </h3>
        <p>
          The Environment Agency's principal aims are to protect and improve the environment, and to promote sustainable development. They play a central role in delivering the environmental priorities of central government and the Welsh Government through their functions and roles.
        </p>

      </section>
      <section class="entry">
        <h3><a href="http://www.field-studies-council.org/juniperhall/" target="_blank">Field Studies Council, Juniper Hall</a></h3>

        <p>
           Juniper Hall is a wonderful house. It is owned by the National Trust,
          and leased to the Field Studies Council, who run a wide range of educational courses.
          They all have a theme of the "Outdoor Classroom", and make for an educational break
          that can be enjoyable and life-enhancing. Many are suitable for families. 
        </p>

      </section>
      <section class="entry">
        <h3><a href="http://www.friendsofboxhill.org.uk" target="_blank">Friends of Box Hill</a></h3>

        <p>
           The Friends of Box Hill undertake a wide range of volunteer
          and fundraising activities to support the work of the National Trust on Box Hill.
          They organise walks and talks, so are well worth joining in order both to find out more
          about the Hill, and to help look after it for future
          generations to enjoy. The membership fee is very modest. 
        </p>

      </section>
      <section class="entry">
        <h3>Leatherhead and District Countryside Protection Society</h3>
        <p>
          
        </p>
      </section>
      <section class="entry">
        <h3>
          <%= link_to("London Natural History Society", "http://www.lnhs.org.uk", :target => "_blank") %>
        </h3>
        <p>
          The London Natural History Society's members come from all walks of life, and range from complete beginners to distinguished scientists. They share a common love of the natural world, and a desire to learn more about it, and share their expertise. 
        </p>

      </section>
      <section class="entry">
        <h3><a href="http://www.lowermoleproject.org.uk" target="_blank">Lower Mole Countryside Management Project</a></h3>

        <p>
          "30 years of countryside management in action"<br>
          The Lower Mole Project is a partnership with boroughs, districts and other organisations. 
          The Lower Mole Project has been in existence since 1983 and was the first Countryside Management Project to be established in the Surrey area. It has built up a large and enthusiastic volunteer group which carries out a wide range of tasks to implement improvements to the local countryside, 4 days a week, including some weekends, throughout the year. The Project has a high standard and broad spread of skills for tackling specialist countryside management work including landscape enhancements, woodland management and pond restoration as well as access initiatives such as the Thames Down Link footpath. Our practical work is carried out by hard-working volunteers, supervised by the Project. In addition to practical work the Project gives advice to private and public landowners. 
        </p>

      </section>

      <section class="entry">
        <h3><a href="http://www.lowermolecountrysidetrust.org.uk" target="_blank">Lower Mole Countryside Trust</a></h3>

        <p>
          "10 years of supporting countryside management"<br>
          The Lower Mole Countryside Trust is a registered charity,which exists to support the provision of a high quality countryside management service for the benefit of landscape, wildlife and people.  The Trust supports the work of the Lower Mole Countryside Management Project and other local community groups and organisations and covers the boroughs of Elmbridge, Epsom & Ewell and northern Mole Valley District in Surrey and the Royal Borough of Kingston upon Thames. The Trust gives grants for conservation and access improvements to local groups. 
        </p>

      </section>

      <section class="entry">
        <h3><a href="http://www.molevalley.gov.uk" target="_blank">Mole Valley District Council</a></h3>

        <p>
           District Council covering the administrative area of Mole
          Valley. Responsible for planning policy and development management. The Council
          manages parks and open spaces, including important sites for nature conservation.
          Officers work with other partners in the statutory and voluntary sectors to
          ensure the protection of the landscape and wildlife habitats. The Council
          also supports two countryside management projects: the Lower Mole Project and
          the Gatwick Greenspace Partnership, and the Surrey Hills Area of Outstanding
          Natural Beauty Partnership. 
        </p>

      </section>
      <section class="entry">
        <h3><a href="http://www.nationaltrust.org.uk/main/w-global/w-localtoyou/w-south_east/w-south_east-countryside/w-south_east-places-north_downs.htm" target="_blank">National Trust</a></h3>

        <p>
          We are very fortunate that the National Trust is a major land
          owner in Mole Valley. Their most prominent natural history site is Box Hill, of
          course, but you will see National Trust signs on many of your walks in the area. 
        </p>

      </section>
      <section class="entry">
        <h3><a href="http://www.rspb.org.uk/groups/dorkinganddistrict" target="_blank"> RSPB Dorking and District Local Group</a></h3>

        <p>
          This local group of the RSPB runs a range of events including
          midweek/weekend walks, coach trips, evening meeitngs with speakers and trips away.
          For a full list of events please see the website. 
        </p>

      </section>

      <section class="entry">
        <h3>
          <%= link_to("Surrey Amphibian and Reptile Group", "http://www.surrey-arg.org.uk", :target => "_blank") %>
        </h3>
        <p>
          The Surrey Amphibian and Reptile Group is a non-profit-making wildlife conservation organisation, based in Surrey. SARG focuses on the care and preservation of wild, native reptiles and amphibians.
        </p>

      </section>
      <section class="entry">
        <h3>
          <%= link_to("Surrey Bat Group", "http://www.surreybats.org.uk", :target => "_blank") %>
        </h3>
        <p>
          The Surrey Bat Group aims to: protect the county's bat populations, their summer roosts, winter hibernation sites, feeding grounds and flight lines; advise landowners, planners and the public how they can help conserve bats; assess and record the current status of bats in the county and to monitor populations found through survey work and scientific projects; and, create opportunities for an increase in the county's bat population
        </p>

      </section>
      <section class="entry">
        <h3>
          <%= link_to("Surrey Botanical Society", "http://www.surreyflora.org.uk", :target => "_blank") %>
        </h3>
        <p>
          Originally known as Surrey Flora Committee, the Surrey Botanical Society has been well-established for many years, to represent and unite all those who want to enjoy, study, and record Surrey's astonishingly interesting, beautiful, and diverse flora.
        </p>

      </section>
      <section class="entry">
        <h3>
          <%= link_to("Farming and Wildlife Advisory Group", "http://www.fwagadvice.co.uk", :target => "_blank") %>
        </h3>
        <p>
           Farms provide and extremely important wildlife habitat in Mole 
           Valley. Many have ancient hedgerows and scattered copses of ancient 
           semi-natural woodland. The FWAG works with farmers to help 
           consideration for natural history to be integrated into modern 
           farming practices. 
        </p>

      </section>
      <section class="entry">
        <h3><a href="http://www.surreywildlifetrust.co.uk/", target="_blank">Surrey Wildlife Trust</a></h3>

        <p>
           With its partnership with Surrey County Council, the Surrey 
           Wildlife Trust is (along with the National Trust) a key player in 
           the management of important wildlife sites in Mole Valley. In 
           addition, their Educational Centre at Nower Wood is an important 
           resource for secondary education in Surrey and south London. 
        </p>

      </section>