<h1>What you can see</h1>
<%= image_tag("Mute_Swan_heads.jpg", :alt => "Mute Swans", :class => "img-rounded main_image") %>
  
  <p>
    You can find here links to information on a range of characteristic species
    that are found in Mole Valley.
  </p>

  <h2><%= link_to "Birds", birds_path %></h2>

  <h2>Bats</h2>


  <h2><%= link_to "Butterflies", butterflies_path %></h2>

  <p>
    About 60 different kinds of butterfly occur in Britain. More than half of them can be
    seen in Mole Valley, including several nationally scarce butterflies of chalk
    grassland and woodland. The high number of species found locally reflects the location of Mole
    Valley in the warm south east corner of England, and the variety of habitats.
    Fewer species can survive in the north of Britain, although some are moving
    northwards as a result of climate change.
  </p>

  <h2><%= link_to "Dragonflies and Damselflies", dragonflies_path %></h2>
  <p>
    There are over 40 species of dragonflies and damselflies breeding in the British Isles and Surrey is one of the best counties to see them.  In Mole Valley over 20 species have been recorded in recent years.  Dragonflies are colourful and conspicuous insects, perhaps second only to butterflies.  They are cold blooded and thus solar powered and can only fly on warm sunny days.  Dragonflies are powerful and aerobatic fliers and settle with their wings outstretched.  Damselflies fly more weakly, often near vegetation at the water’s edge and most settle with their wings together over their backs.  Dragonflies and damselflies spend most of their lives as larvae out of our sight in water, emerging as adults for a few weeks to fly and breed.  Different species emerge at different times of the year and require different aquatic habitats including still water (lakes, ponds, clay and gravel pits), running water (rivers and streams such as the Mole and Tillingbourne) heaths and bogs (around Leith Hill and Headley Heath).  They are carnivorous both as larvae and adults, top predators in their ecosystems and thus good indicators of its health.
  </p>

  <h2><%= link_to "Fungi", fungi_path %></h2>

  <h2><%= link_to "Moths", moths_path %></h2>

  <h2><%= link_to "Plants", plants_path %></h2>