<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <section id="main" role="main">
      <%= render 'layouts/header' %>
      <%= render 'layouts/navigation' %>
      
      <article class="container">
        <%= yield %>
      </article>

      <%= render 'layouts/footer' %>

    </section>


</body>
</html>